<div class="centered-form-container">
    <div class="centered-form">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label for="email"></label>
            <input type="email" formControlName="email" placeholder="email" class="rounded-2">
            <div *ngIf="loginForm.get('email')!.hasError('required') && loginForm.get('email')!.touched" class="text-danger">
              Email is required
            </div>
            <div *ngIf="loginForm.get('email')!.hasError('email') && (loginForm.get('email')!.touched || loginForm.get('email')!.dirty)" class="text-danger">
              Invalid email format
            </div>
          </div>
          
          <div class="mb-3">
            <label for="password"></label>
            <input type="password" formControlName="password" placeholder="password" class="rounded-2" >
            <div *ngIf="loginForm.get('password')!.hasError('required') && loginForm.get('password')!.touched" class="text-danger">
              Password is required
            </div>
          </div>
          <button type="submit" class="btn">Login</button>
          <br>
        </form>
        <a routerLink="/register" class="btn1">New User? Create an new account</a>

      </div>
    </div>