.centered-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensures the container fills the entire viewport height */
  }
  
  .centered-form {
    max-width: 400px; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .btn {
    transition: transform 0.4s ease-in-out;
    border: 1px solid #498089;
    color: #498089;
    margin-left: 70px;
  }
  
  .btn:hover {
    color: #498089;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 10px #498089;
    transform: scale(1.05);
  }  

  input{
    border: 1px solid #498089;
    height: 30px;
    width: 300px;
  }  