
.card {
    margin-top: 112px;
    width: calc(80.33% - 20px);
    margin-left: 50px;
    border: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow:  0px -10px 15px -6px  #FFE5E5, 
    0px  5px  15px  0px  #F3FDE8, 
    5px  0px  15px  0px  #FFE5E5, 
   -5px  0px  15px  0px  #F3FDE8;
}

.card-hover-transition {
  transition: transform 0.3s ease-in-out; 
}

.card-hover-transition:hover {
  transform: scale(1.05); 
}
.para{
    color: #485935;
}


.card img {
    width: 100%;
    height: auto;
}

.equal-height {
    display: flex;
}

.equal-height .card {
    height: 89%;

}

.equal-height .card-img-top {
    object-fit: cover;
    height: 200px;
}
a{
    text-decoration: none;
}
.btn{
    color: white;
    background-color: #FFBFBF;
}
.btn:hover{
    color: #FFBFBF;
    background-color: white;
    border: 1px solid #FFBFBF;
    box-shadow: 2px 2px 10px 10px #F3FDE8;
  transform: scale(1.1);
}