.container{
   display: flex;
   align-items: center;
   justify-content: center;

}
.card{
    margin-top: 19%;
    border: none;
    box-shadow: 2px 2px 10px 10px #F3FDE8;
    height: 50vh;
    width: 400px;
}
.btn{
    color: white;
    background-color: #FFBFBF;
    /* padding: 10px 20px 10px 20px; */
}
.btn:hover{
    color: #FFBFBF;
    background-color: white;
    border: 1px solid #FFBFBF;
    box-shadow: 2px 2px 10px 10px #F3FDE8;
  transform: scale(1.1);
}
.para{
    color:#485935;
}